.root {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);

  :global {
    .Filter--inner {
      display: inline-block;
      background-color: rgba(0,0,0,0.7);
    }

    .Filter--inner_icon {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      text-align: center;
      width: 100%;
      fill: #fff;
      font-weight: bold;
      font-size: 24px;
    }
  }
}