{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    ["module-resolver", {
      "alias": {
        "stylesheets": './app/javascript/assets/stylesheets',
        "images": "./app/javascript/assets/images",
        "config": "./app/javascript/config",
        "modules": "./app/javascript/modules"
      }
    }]
  ]
}
