#BannerBig {
  @include overlay--green--gradiant();
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0;
  position: relative;

  h1 {
    color: $c-white !important;
  }

  .block {
    color: $c-white--text;

    h1 {
      font-size: 45px;
      line-height: 60px;
      font-family: $f-roboto_sans;
      font-weight: 100;
      letter-spacing: 10px;
      padding-bottom: 45px;
    }
    p {
      font-size: 23px;
      line-height: 40px;
      font-family: $f-roboto_sans;
      font-weight: 300;
      letter-spacing: 3px;
    }
  }
}