.Contact {
  padding-bottom: 35px;

  form {
    .form-group {
      padding-bottom: 15px;
      margin: 0px;

      label {
        display: block;
      }

      textarea {
        background: $c-form_background;
        height: 60px;
        border: 1px solid $c-form_border;
        box-shadow: none;
        width: 100%;

        &.form-control {
          height: 160px;
        }
      }
    }
  }
}