$c-dark_blue : #03263a;
$c-blue : #36578c;
$c-green : #4ea701;
$c-gray : #90918c;
$c-white : #fff;
$c-black : #000;

$c-valid: #ddffdd;
$c-invalid: #ffdddd;

$c-required-valid: #008000;
$c-required: #800000;

$formWidth: 30vw;
$inputTopMargin: 18px;