$c-white: #fff;
$c-white--text: #E3E3E4;
$c-black: #000;

$c-green: #4DFF00;
$c-green--dark: #1C4E39;

$c-blue: #001433;
$c-blue--font--hover: #333;

$c-font: $c-blue--font--hover;
$c-font--hover: $c-black;


$c-dark_blue : #03263a;
$c-blue : #36578c;
$c-green : #4ea701;
$c-gray : #90918c;
$c-white : #ffffff;