// fonts

@mixin font--blue() {
  color: $c-blue;
}

@mixin font--gray() {
  color: $c-font;
}

@mixin font--green {
  color: $c-green;
}



// links

@mixin link--yellow() {
  @include font--blue();
  &:hover {
    color: $c-blue--font--hover;
  }
}

@mixin link--gray() {
  @include font--gray();
  &:hover {
    color: $c-font--hover
  }
}

@mixin link--green() {
  color: $c-green;
  &:hover {
    color: $c-blue--font--hover;
  }
}



// buttons

@mixin button--blue() {
  background-color: $c-dark_blue;
  color: $c-white;

  &:hover {
    background-color: $c-green;
  }
}

@mixin button--white() {
  background-color: $c-white;
  @include link--green;
}

@mixin button--green() {
  background-color: $c-green;
  color: $c-white;
  &:hover {
    background-color: $c-dark_blue;
    color: $c-white;
  }
}