// fonts

@mixin font--blue() {
  color: $c-blue !important;
}

@mixin font--gray() {
  color: $c-font !important;
}

@mixin font--green {
  color: $c-green !important;
}



// links

@mixin link--yellow() {
  @include font--blue();
  &:hover {
    color: $c-blue--font--hover !important;
  }
}

@mixin link--gray() {
  @include font--gray();
  &:hover {
    color: $c-font--hover !important
  }
}

@mixin link--green() {
  color: $c-green !important;
  &:hover {
    color: $c-blue--font--hover !important;
  }
}



// buttons

@mixin button--yellow() {
  background-color: $c-blue !important;
  color: $c-white !important;

  &:hover {
    background-color: $c-blue--font--hover !important;
  }
}

@mixin button--white() {
  background-color: $c-white !important;
  @include link--green;
}

@mixin button--green() {
  background-color: $c-green !important;
  color: $c-white !important;
  &:hover {
    background-color: $c-green--dark !important;
  }
}