footer {
  img {
    width: 100%;
  }

  h2 {
    font-family: $f-sans;
    font-weight: 300;
    color: $c-black;
    font-size: 28px;
    padding-bottom: 30px;
  }

  p {
    font-size: 13px;
    line-height: 25px;
    color: $c-gray;
    display: block;
  }

  a {
    color: $c-green;
  }
}