h1,
h3,
h4,
h5,
h6 {
  @include font--blue();
}

h2 {
  @include font--green();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}