#slider {
  background: url("assets/images/slider-bg.jpg") no-repeat;
}

#call-to-action {
  background: url("assets/images/call-to-action-bg.jpg") no-repeat;
}

#feature {
  background: url("assets/images/feature-bg.jpg");
}

#global-header {
  background: url("assets/images/slider-bg.jpg") no-repeat;
}

#slider-contact {
  background: url("assets/images/slider-bg.jpg") no-repeat;
}