.SocialIcons {
  align-items: center;
  display: flex;
  margin-top: 40px;

  li {
    display: inline-block;
    margin: 0 6px;
  }
  a {
    display: inline-block;
  }
  i {
    color: $c-social_icon;
    margin-right: 25px;
    font-size: 25px;
  }
}
