<!DOCTYPE html>
<html>
  <head>
    <title>GrowersOutlet2</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="http://0.0.0.0:8080/packs/app.css" />
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag("app") %>
</html>
